<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Review</title>
    <script src="/static/review_app/jquery-3.7.1.min.js"></script>
    <script src="/static/review_app/code.js"></script>
    <link rel="stylesheet" href="/static/review_app/style.css">  
</head>

<body>
    <div class="container">
      {% for value in images %}
      <div class="card">
        <img src="/img/{{ value }}">
        <div class="tags" data-filename="{{value}}">
          {% for tag in value.tags.all %}
          <div class="tag" data-filename="{{ value }}" data-tag="{{ tag }}">
            {{ tag }}
          </div>
          {% endfor %}
        </div>
        <div class="icons">
          <div class="star" data-filename="{{ value }}">
            <br>
          {{ value }}
          {% if value.stared %}
          ⭐️ 
          {% else %}
          ✩ 
          {% endif %}
          </div>
        </div>
        <div class="notes">
          <textarea class="noteField" data-filename="{{ value }}" placeholder="Add notes">{{ value.notes }}</textarea>
        </div>
          <button class="addTag" data-filename="{{ value }}">Add Tag</button>
          <button class="delTag" data-filename="{{ value }}">Del Tag</button>
      </div>
      {% endfor %}
    </div>
</body>
</html>

