<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Review</title>
    <script src="/static/review_app/jquery-3.7.1.min.js"></script>
    <script src="/static/review_app/code.js"></script>
    <link rel="stylesheet" href="/static/review_app/style.css">  
</head>

<body>
    <div class="container">
      {% for value in images %}
      <div class="card">
        <img src="/img/{{ value }}">
        {{value}}
        <span class="tag">blue</span>
        <div class="icons">
          <div class="star" data-filename="{{ value }}">
          {% if value.stared %}
          ⭐️ 
          {% else %}
          ✩ 
          {% endif %}
          </div>
        </div>
        <div class="actions">
            <div class="left-actions">
                <button>Discard</button>
                <button>Master</button>
                <button>Feedback</button>
            </div>
        </div>
        <div class="notes">
          <textarea class="noteField" data-filename="{{ value }}" placeholder="Add notes">{{ value.notes }}</textarea>
        </div>
      </div>
      {% endfor %}
    </div>
</body>
</html>

