
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Review</title>
    <script src="/static/review_app/jquery-3.7.1.min.js"></script>
    <script src="/static/review_app/code.js"></script>
    <link rel="stylesheet" href="/static/review_app/tag-style.css">  
  </head>

  <body>
    <div class="container">
      <div class="image-grid">
        {% for value in images %}
        <div class="image-item">
          <a href="/img/{{ value }}" target="_"><img src="/img/{{ value }}"></a><br>
        </div>
        {% endfor %}
      </div>
    <a href="/">Back to Review</a>
    </div>
  </body>
</html>

